.advantage {
  padding-bottom: 0;

  /* добавляем блоки для иконок сверху списка преимуществ с помощью псевдоелемента */
  &__item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
  }
  &__item::before {
    display: block;
    margin-bottom: 30px;

    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray-bcg-color;
    border-radius: 4px;
  }
  &__title {
    text-transform: uppercase;
  }

  &__text {
    line-height: $text-line-height;
  }

  /* добавляем  иконки сверху списка преимуществ с помощью псевдоелемента */
  &_icon-antena::before {
    padding: 25px 100px;
    background-image: url(../image/antenna.svg);
  }
  &__icon-clock::before {
    padding: 25px 100px;
    background-image: url(../image/clock.svg);
  }
  &__icon-diagram::before {
    padding: 25px 100px;
    background-image: url(../image/diagram.svg);
  }
  &__icon-astronaut::before {
    padding: 25px 100px;
    background-image: url(../image/astronaut.svg);
  }
}
