.advantage {
  padding-bottom: 60px;

  &__title {
    text-transform: uppercase;
  }

  &__text {
    line-height: $text-line-height;
    text-align: left;
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }

  &__item {
    text-align: center;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include for-size(tablet) {
      & {
        width: calc((100% - 30px) / 2);
        margin-right: 30px;

        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(n + 2) {
          margin-bottom: 0;
        }
      }
    }

    @include for-size(desktop) {
      & {
        width: calc((100% - 30px * 3) / 4);
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
      &:nth-last-child(-n + 6) {
        margin-bottom: 0;
      }
    }
  }

  &__item::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray-bcg-color;
    border-radius: 4px;
    & {
      margin-bottom: 30px;
    }
  }

  /* добавляем  иконки сверху списка преимуществ с помощью псевдоелемента */
  &__icon-antena::before {
    padding: 25px 100px;
    background-image: url(../image/antenna.svg);
  }
  &__icon-clock::before {
    padding: 25px 100px;
    background-image: url(../image/clock.svg);
  }
  &__icon-diagram::before {
    padding: 25px 100px;
    background-image: url(../image/diagram.svg);
  }
  &__icon-astronaut::before {
    padding: 25px 100px;
    background-image: url(../image/astronaut.svg);
  }
}
