.client__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 0;
  margin-bottom: 30px;
  width: calc((100% - 30px * 1) / 2);
  height: 90px;
  border: 1px solid $social-icon;
  border-radius: 4px;
  transition: $trancision;
}

.client__item :hover,
.client__item :focus {
  border-color: $akcent-color;
}
.client__item :hover .client__icon,
.client__item :focus .client__icon {
  fill: $akcent-color;
}

.client__icon {
  fill: $social-icon;
  transition: fill $trancision;
}
