.client__item {
  justify-content: center;
  align-items: center;

  width: calc((100% - 30px * 5) / 6);

  height: 90px;
  border: 1px solid $social-icon;
  border-radius: 4px;
  transition: $trancision;
  &:not(:last-child) {
    /* убираем марджины у последнего елемента */
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    border-color: $akcent-color;
  }
}

/* выравниваем иконки по центру*/

/* цвет для иконок */
.client__icon {
  fill: $social-icon;
  transition: fill $trancision;
}
/* ховер для рамок*/

/* ховер для иконок*/
.client__item:hover .client__icon,
.client__item:focus .client__icon {
  fill: $akcent-color;
}
