.page-footer {
  background: $baner-bcg-color;
  font-weight: 400;
  line-height: $text-line-height;
}
.footer-flexbox {
  display: flex;
  align-items: baseline;
}

/* описываем контейнер контактов в футере, задаю верхний и нижний падинги*/
.footer-container {
  padding: 60px 0;
  margin-right: 70px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $white;
  text-decoration: none;
  @include font(26px, $comand-line-height);
  font-family: Raleway, sans-serif;
}
.asdress {
  flex-direction: column;
}
.adress__link {
  margin-top: 9px;
  margin-bottom: 0px;
  display: block;
  color: $link-color;
  font-style: normal;
  transition: all $trancision;
}
.adress__text {
  color: $white;
  font-style: normal;
}
.adress__link:hover,
.adress__link:focus {
  color: $akcent-color;
  cursor: pointer;
}

/* ---------------колонка с соцсетями в футере----------------- */

/* стили для заголовка футера*/
.footer__social-container {
  margin-right: 93px;
}
.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $white;
  @include font($main-font-size, $hero-line-height);
  text-transform: uppercase;
}
/* стили для соц сетей футера */
.footer__social {
  display: flex;
}
.footer__social-item:not(:last-child) {
  margin-right: 10px;
}
/* серый фон кружочка */

/* style  for link in sosial list */
.social-link--back {
  background: rgba(255, 255, 255, 0.1);
}
/* стиль для иконок соц. сетей футера */
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: $white;
}
