.footer-form__input::placeholder {
  @include font($btn-font-size, 1.25);
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input {
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  outline-color: $akcent-color;
  color: $white;
}

/* ---------стилизация иконки в кнопке батон-------- */
.btn--footer {
  padding-left: 29px;
  padding-right: 28px;
}

.btn-footer::after {
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $white;
  background-image: url(../image/icon-send.svg);
}
