.page-header {
  padding: 25px 0;
  border-bottom: 1px solid $border-header;
  align-items: center;
}

/* ----------------------adress header-----------------------*/

.header-adr {
  align-items: center;
  margin-left: auto;
  letter-spacing: $secondary-letter_spacing;

  border: none;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
  }

  /* конвертик и телефон возле почты */
  &__icon {
    margin-right: 10px;
    fill: $text-color;
    transition: fill $trancision;
  }

  &__item:hover .header-adr__icon {
    fill: $akcent-color;
  }

  @include for-size(mobile) {
    width: 480x;
    display: none;
  }
  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1280px;
  }
}
