.page-header {
position: relative; 
  line-height: $title-line-height;
  border-bottom: 1px solid $border-header;
  @include for-size(tablet-only){
padding:16px 0;}
 
 
}
.header-container {   
  display: flex;
  justify-content: space-between;  

  width: 100%;
  @include for-size(tablet) {
    align-items: center;

  }
}


.menu-button {   
 display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  // outline-color: none;
    width: 40px;
  height: 50px;
  background-color: transparent;
  &__icon-cross {
    display: none;
  }
  &.is-open &__icon-cross {
      display: block;
    }
   &.is-open &__icon-menu-bur {
      display: none;
    }  
&__icons {
    fill: $title-color;
  width: 40px;
height: 40px;

  // cursor: pointer;
  // z-index: 2;
  &:hover,
  &:focus {
    fill: $akcent-color;
  }
  @include for-size(tablet) {
    display: none;
  }
}}

.header-menu {
 @include for-size(tablet-only){
 position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
     top: 0%;
    right: 0;
    width: 100%;
    transform: translatey(-100%);
    opacity: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: $white;
    transition: 0.5s ease-in-out;

    &.is-open {
      opacity: 1;
      transform: translatey(61px);
      .container {
        pointer-events: none;
      }
    }
    }@include for-size(tablet){
display: flex;
    justify-content: space-between;}
  } 
 


/* ----------------------adress header-----------------------*/

.header-adr { 
  @include for-size(tablet-only){    
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: $secondary-letter_spacing;
  border: none;
  font-size: $label-font-size;  
  &__item:not(:last-child) {
    margin-bottom: 16px;} 
     &__icon {
    margin-right: 10px;
    fill: $text-color;
    transition: fill $trancision;
  }
  }
 &__link {
    display: flex;
    align-items: center;
    color: $text-color; }
    
    &__icon {
    margin-right: 8px;
    fill: $text-color;
    transition: fill $trancision;
  }
  &__item:hover .header-adr__icon {
    fill: $akcent-color;
  }

   @include for-size(tablet-desktop){
     display: flex;
  flex-direction: column;
//  align-items: center;
  letter-spacing: $secondary-letter_spacing;
  border: none;
  font-size: $label-font-size;  
  align-items: normal;
    margin-left: auto;
    &__item {
      font-size: $label-font-size;
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
    &__icon {
      margin-bottom: 0;}
    &__icon-mail {
      width: 14px;
      height: 10px;
    }
    &__icon-tel {
      width: 10px;
      height: 14px;
    }    
    }

    @include for-size(desktop) {
      &__item {
        margin-right: 30px;
        margin-bottom: 0px;
      }
      display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    letter-spacing: $secondary-letter_spacing;
    border: none;
    line-height: $main-line-height;
    &__icon-mail {
      width: 16px;
      height: 12px;
    }
    &__icon-tel {
      width: 10px;
      height: 16px;
    }


    } 

}
