.section {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }
}

.section-title {
  margin-top: 0px;
  margin-bottom: 30px;
  @include font($section-font-size, $title-line-height);
  text-align: center;
}
