.form {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin-bottom: 12px;
    @include font($title-font-size, $title-line-height);
    color: $title-color;
  }
  &-field {
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    outline: none;
  }
  &__label {
    display: block;
    align-items: center;
    margin-bottom: 4px;
    @include font($label-font-size, $label-line-height);
    letter-spacing: $form-letter_spacing;
    color: $text-color;
  }

  &__textarea {
    width: 100%;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;
    transition: border-color $trancision;
    outline: none;
  }
  &__textarea::placeholder {
    line-height: $main-line-height;
    letter-spacing: $form-letter_spacing;
    color: rgba(117, 117, 117, 0.5);
  }

  &__input {
    padding-left: 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    line-height: $input-line-height;
    transition: all $trancision;
    outline: none;
  }

  /* стиль для иконок в модальной форме */
  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    /* transform: translateY(-25%); */
    fill: $title-color;
    transition: fill $trancision;
  }
  &__input:focus ~ .form__icon,
  &__input:focus,
  &__textarea:focus {
    border-color: $akcent-color;
    fill: $akcent-color;
  }
  &__link {
    text-decoration: underline;
    color: $akcent-color;
  }
}
/* ------------Стиль для чек бокса------------ */
.chek {
  display: inline-flex;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 13px;
  @include font($main-font-size, $text-line-height, $sec-font-weight);
  color: $text-color;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chek__icon::before {
  display: inline-flex;
  text-align: center;
  content: "";
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../image/icon-check.svg);
  fill: var(--white);
  border: 2px solid $title-color;
  border-radius: 2px;

  cursor: pointer;
  transition: all $trancision;
}
.checkbox:checked ~ .chek__icon::before {
  border: 2px solid $akcent-color;
  border-radius: 2px;
  background-color: $akcent-color;

  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* -------Кнопка для формы в модальном окне----- */
.btn--form {
  padding: 10px 55px;
  margin: 0px auto;
}
