/*--------------------------Cтили для формы----------------------- */
.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  color: $title-color;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
  outline: none;
}
.form__label {
  display: block;
  align-items: center;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $text-color;
}

.form__textarea {
  font-weight: 400;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition: border-color $trancision;
  outline: none;
}
.form__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input {
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  line-height: 2.75;
  transition: all $trancision;
  outline: none;
}

/* стиль для иконок в модальной форме */
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  /* transform: translateY(-25%); */
  fill: $title-color;
  transition: fill $trancision;
}
.form__input:focus ~ .form__icon,
.form__input:focus,
.form__textarea:focus {
  border-color: $akcent-color;
  fill: $akcent-color;
}
.form__link {
  text-decoration: underline;
  color: $akcent-color;
}
.chek {
  display: inline-flex;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 13px;
  font-weight: 500;
  line-height: 1.7;
  color: $text-color;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.chek__icon::before {
  display: inline-flex;
  text-align: center;
  content: "";
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../image/icon-check.svg);
  fill: $white;
  border: 2px solid $title-color;
  border-radius: 2px;

  cursor: pointer;
  transition: all $trancision;
}
.checkbox:checked ~ .chek__icon::before {
  border: 2px solid $akcent-color;
  border-radius: 2px;
  background-color: $akcent-color;

  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.btn--form {
  padding: 10px 55px;
  margin: 0px auto;
}
