.logo {
  text-decoration: none;

  color: $title-color;

  font-family: $sec-font-family;
  @include font(24px, $title-line-height);
   @include for-size(tablet) {
  padding: 25px 0;
  }
 @include for-size(desktop) {

  @include font(26px, $comand-line-height);
  
  }

  
}
.logo-web {
  color: $akcent-color;
}
