.menu {
  display: flex;
  margin-left: 0px;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    padding: 32px 0;
    color: $title-color;
    cursor: pointer;
    @include font($main-font-size, 1.12, $sec-font-weight);
    letter-spacing: $secondary-letter_spacing;
  }

  &__link--active {
    position: relative;
    padding: 32px 0;
    color: $akcent-color;
    text-decoration: none;
  }

  &__link--active::after {
    display: flex;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $akcent-color;
    bottom: -2%;
  }
}
