body {
  color: $title-color;
  background-color: $white;
  @include font($main-font-size, $main-line-height);
  font-family: $main-font-family;
  font-style: normal;
  letter-spacing: $main-letter_spacing;
}
//  .main{
//    @include for-size(mobile){padding-top: 61px

//    }
//    @include for-size(tablet) {padding-top: 78px;}

//  }
.container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;  @include for-size(mobile) {
 width: 480px;  }  @include for-size(tablet) {     width: 750px;    }
    @include for-size(desktop) {     width: 1200px;
   } 
 }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  transition: all $trancision;
}

.link:hover,
.link:focus,
.link:active {
  color: $akcent-color;
  cursor: pointer;
}

.flexbox {
   @include for-size(tablet) {
     display: flex;
     flex-wrap: wrap;
   }
  }
.title {
  margin-top: 0;
  margin-bottom: 10px;
}
.text {
  margin: 0;
  color: $text-color;
  
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
