html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 2px solid red;
}
body {
  color: $title-color;
  background-color: $white;
  @include font($main-font-size, $main-line-height);
  font-family: $main-font-family;
  font-style: normal;
  letter-spacing: $main-letter_spacing;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;

  @include for-size(mobile) {
    width: 450px;
    background-color: blue;
  }
  @include for-size(tablet) {
    width: 768px;
    background-color: red;
  }

  @include for-size(desktop) {
    width: 1200px;
    background-color: violet;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
  transition: all $trancision;
}

.link:hover,
.link:focus,
.link:active {
  color: $akcent-color;
  cursor: pointer;
}

.flexbox {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;
}
.text {
  margin: 0;
  color: $text-color;
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
