$title-color: #212121;
$text-color: #757575;
$white: #ffffff;
$akcent-color: #2196f3;
$link-color: rgba(255, 255, 255, 0.6);
$logo2-color: #000000;
$baner-bcg-color: #2f303a;
$gray-bcg-color: #f5f4fa;
$border-header: #ececec;
$border-portfolio: #eeeeee;
$overlay: #c4c4c4;
$social-icon: #afb1b8;
$background: rgba(47, 48, 58, 0.4);
$trancision: 3s cubic-bezier(0.4, 0, 0.2, 1);
