$title-color: #212121;
$text-color: #757575;
$white: #ffffff;
$akcent-color: #2196f3;
$link-color: rgba(255, 255, 255, 0.6);
$logo2-color: #000000;
$baner-bcg-color: #2f303a;
$gray-bcg-color: #f5f4fa;
$border-header: #ececec;
$border-portfolio: #eeeeee;
$overlay: #c4c4c4;
$social-icon: #afb1b8;
$background: rgba(47, 48, 58, 0.4);
$trancision: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$main-letter_spacing: 0.03em;
$btn-letter_spacing: 0.06em;
$secondary-letter_spacing: 0.02em;
$form-letter_spacing: 0.01em;
$main-line-height: 1.14;
$title-line-height: 1.15;
$label-line-height: 1.17;
$input-line-height: 2.75;
$text-line-height: 1.7;
$comand-line-height: 1.19;
$link-line-height: 1.2;
$hero-line-height: 1.36;
$title-sec-line-height: 2;
$text-sec-line-height: 1.7;
$btn-sec-line-height: 1.87;
$main-font-size: 14px;
$btn-font-size: 16px;
$title-font-size: 20px;
$label-font-size: 12px;
$section-font-size: 36px;
$title-sec-font-size: 18px;
$main-font-weight: 700;
$sec-font-weight: 500;
$text-font-weight: 400;
